@import "bourbon";
//@import "neat";
//@import "base/base";

@import "bootstrap-flex";

.lel {
    width: 100%;
    height: 100%;
}

body {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}

.app-container {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}

.presentation-container {
    overflow: hidden;
    opacity:0.99; // fixes overflow not working with 3d transforms ~~'
    background-color: #ddd;
    width: 100%;
    height: 100%;

    .presentation {
        width: 100%;
        height: 100%;
        position: absolute;
        transform-origin: left top 0px;
        transition: all 500ms ease-in-out 250ms;
        transform-style: preserve-3d;
        top: 50%;
        left: 50%;
        transform: perspective(1460.08px) scale(0.684896);
    }
}

.slide-container {
    position: absolute;
    transform-origin: left top 0px;
    transition: all 500ms ease-in-out 0ms;
    transform-style: preserve-3d;
}

.slide {
    display: block;
    backface-visibility: hidden;
    width: 900px;
    height: 700px;
    padding: 40px 60px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .1);
    color: rgb(102, 102, 102);
    text-shadow: 0 2px 2px rgba(0, 0, 0, .1);
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -1px;

    position: absolute;
    // transform: translate(-50%, -50%);
    transform-style: preserve-3d;

    .slide-content {
        height: 100%;
    }
}

.parens {
    transform-style: preserve-3d;
}

.paren {
    display: block;
    transform-style: preserve-3d;
    position: absolute;
    font-weight: bold;
    font-size: 48px;
    text-shadow:  2px  0px  0px #FFF,
                 -2px  0px  0px #FFF,
                  0px  2px  0px #FFF,
                  0px -2px  0px #FFF,
                  0px  0px 10px #707070,
                  0px  0px  3px #707070;
}

.presentation-container.presenter-mode {
    width: 900px;
    height: 600px;

    .presentation {

    }
}